:root{
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headerContainer{
    display: flex;
    justify-content:end;
    align-items:center;
    background-image: url('/images/headerImg.png');
    background-size: cover; /* Ensures the whole image fits */
    background-repeat: no-repeat;
    background-position: center;
    height: 5em;
    width:100%;
    opacity: 1;
}

.header{
    color:white;
    font-family: var(--font-family);
}

p{
    font-size: larger;
    font-style: italic;
    width: 100%;
    margin-left: 3em;
}

#menuContainer{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content:space-evenly;
}
