*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(67, 71, 67);
    color: white;
}

#headerContainer{
    display: flex;
    height: 3em;
    margin: 2rem 2rem 0 2rem;
    font-size: large;
    /* background-color: rgb(67, 71, 67); */
    box-shadow: 4 5 rgb(96, 98, 96);
    border-radius: 1.5em;
}

#logoContainer{
    width: 20%;
    max-height: 100%;
    padding-left: 2em;
    /* flex: 0 1 auto; */
}

#navBarContainer{
    width: 80%;
    padding-right: 2em;
    flex: 1 1 auto;
}

#logo{
    height: 100%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 2em;
}