/* 
html part
// <div id="headerContainer" className="header">
    //   <div id="logoContainer" className="header">
    //     <img id="logo" src={logo} className="header-logo" />
    //   </div>
    //   <div id="navBarContainer" className="header">
    //     <ul id="menuContainer" className="menu">
    //         <li>Home</li>
    //         <li>About us</li>
    //         <li>Contact</li>
    //         <li>Cart</li>
    //     </ul>
    //   </div>
    // </div>


*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body { */
    /* padding-top: 0; */
    /*background: #bdc3c7;  fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #2c3e50, #bdc3c7);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-repeat: no-repeat;
    height: 100vh; */
/* } */

#headerContainer{
    display: flex;
    height: 5em;
    margin: 2rem 2rem 0 2rem;
    font-size: large;
    /* box-shadow: 0 0.2em rgba(0, 0, 0, 0.3); */
    /* border-radius: 1.5em; */
}

#logoContainer{
    width: 60%;
    max-height: 100%;
    padding-left: 2em;
    flex: 1 1 300px;
}

#navBarContainer{
    width: 40%;
    padding-right: 2em;
    flex: 1 1 300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: end;
    align-items: center;
}

#logo{
    width: 7.5em;
    margin-top: -0.8em;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 2em;
}