:root{
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --header-bg-img: url('/src/images/headerImg.png');
    --bg-color-components: #fbf4e7;
    --font-color: #3e4152;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.app{
    background-image: var(--header-bg-img);
}

#mainContainer{
    margin-top: 2em;
}


