:root{
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --header-bg-img: url('/src/images/headerImg.png');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer{
    margin-top: 2em;
}


