.resCardShimmer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 5%;
}

.resCardShimmerItems{
    width: 20em;
    height: 14em;
    border-radius: 2%;
    background-color:  #fbf4e7;
    opacity:0.6;
    padding: 1%;
}